*{
margin: 5px;
padding: 10px;
box-sizing: border-box;}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcffcf;}

section{
    position: relative;
    width: 55%;
    height: 850px;
    display: flex;
    align-items: center;}

 .swiper{
    width: 13000px;}

.card{
    position: relative;
    border-radius: 15px;
    margin: 10px 0;}

section .card .image{
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius:15px;}

section .card .image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 60%;}

section .card .image img:hover{
    transform: scale(1.07);
    opacity: 100%;
    border-radius: 15px;}

.swiper-pagination{
    position: relative;}

.swiper-button-next, .swiper-button-prev{
    opacity: 100%;
    color: rgb(0, 0, 0);}

.swiper-button-next:hover, .swiper-button-prev:hover{
    color: rgb(52, 52, 52);
    opacity: 100%;}

#footer {
    padding: 15px;
    color: #000000;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #53ff95;
    border-radius: 5px;}

  #footer .autor {
    text-align: center;}

  #footer .github {
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #000000;}

  #botao{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fcffcb;
    margin: 0 90px;}