body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    align-items: center;
    justify-content: center;
    background-color: #fcffcb;
    line-height: 3;
    text-align: center;
    height: 100vh;}


#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 5px;}

#botao1{
    background-color: #53ff95;
    margin: 0 15px;}

#botao2{
    background-color: #53ff95;
    margin: 0 15px;}

#footer {
    padding: 15px;
    color: #000000;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #53ff95;
    border-radius: 5px;}

  #footer .autor {
    text-align: center;}

  #footer .github {
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #000000;}

  #home{
      background-color: #fcffcb;
      border-radius: 5px;}